*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    max-width: 393px;
    height: 852px;
    margin: auto;
}



div .logo{
    display: flex;
    width: 40px;
}